#button {
  margin: 2px;
  background-color: #b3d9ff;
  border-radius: 10px;
}
#number {
  width: 183px;
  height: 30px;
  margin: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
  border-radius: 10px;
}
